extends layout

block content
	block main
		.container
			.jumbotron
				h1 Automotive Services Portal
				h2 using Android Technology
				p.lead
					| Find businesses that offers automotive services in Bataan.
				p
					a.btn.btn-lg.btn-success(href="https://drive.google.com/file/d/0BwfwquiAd053WVlhYUZpcDVBT3M/view?usp=sharing", role="button") Download for free!
			h3 Features
			.row
				.col-lg-4
					h2 Auto-search
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn.btn-primary(href="#", role="button") View details »
				.col-lg-4
					h2 Chat 
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn.btn-primary(href="#", role="button") View details »
				.col-lg-4
					h2 Nearby
					p
						| Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
					p
						a.btn.btn-primary(href="#", role="button") View details »
			.row
				.col-lg-4
					h2 VoIP
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn.btn-primary(href="#", role="button") View details »
				.col-lg-4
					h2 Set Appointment
					p
						| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn.btn-primary(href="#", role="button") View details »
				.col-lg-4
					h2 Tips for Auto Maintenance
					p
						| Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
					p
						a.btn.btn-primary(href="#", role="button") View details »
			// Site footer 
			footer.footer
				p &copy; The Mechanics 2015