doctype html
html
	head
		title= title
		link(rel='stylesheet', href="/stylesheets/bootstrap.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.masthead
			nav
				ul.nav.nav-justified
					li(class=(title=="Home" ? 'active' : ''))
						a(href="/") Home
					li(class=(title=="Projects" ? 'active' : ''))
						a(href="/") Projects
					li(class=(title=="Services" ? 'active' : ''))
						a(href="/") Services
					li(class=(title=="About" ? 'active' : ''))
						a(href="/") About
					li(class=(title=="Register" ? 'active' : ''))
						a(href="/users/register") Register
					li(class=(title=="Login" ? 'active' : ''))
						a(href="/users/login") Login
		block content

		link(src="javascripts/bootstrap.js")
		link(src="javascripts/npms.js")
