extends layout

block content
	.container
		form(action="/users/register", method="POST", role="form", enctype="multipart/form-data")
			.col-md-4.col-md-offset-4
				.well
					h1 Login
					.form-group
						label(for="") Username
						input.form-control(name="username" type="text", placeholder="Input your complete name")
					.form-group
						label(for="") Email Address
						input.form-control(name="email", type="email", placeholder="Input your valid email address")
					button.btn.btn-primary.btn-lg(type="submit") Login 