extends layout

block content
	.container
		.row
			.col-md-4.col-md-offset-4
				form(action="/users/register", method="POST", role="form", enctype="multipart/form-data")
					.well
						h1 Register
						.form-group
							label(for="") Complete Name
							input.form-control(name="name" type="text", placeholder="Input your complete name")
						.form-group
							label(for="") Email Address
							input.form-control(name="email", type="email", placeholder="Input your valid email address")
						.form-group
							label(for="") Username
							input.form-control(name="username", type="text", placeholder="Input your chosen username")
						.form-group
							label(for="") Password
							input.form-control(name="password", type="password", placeholder="Choose password. Minimum of 8 characters")
						.form-group
							label(for="") Confirm Password
							input.form-control(name="password2", type="password", placeholder="Confirm your password")
						.form-group
							label(for="") Profile Image
							input.form-control(name="profileimage", type="file")
						button.btn.btn-primary.btn-lg(type="submit") Submit
			